* {
    margin: 0px;
    padding: opx;
    font-family: sans-serif;

}

header {
background-image:url(nar.jpg);
height: 100vh;
background-size: cover;
background-position: center;
position: relative;
background-color: rgb(6, 77, 62);

}

ul{
    float: right;
    margin-top: 35px;
}

ul li {
   display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 2px solid #fff;
    border-radius: 20px;
    transition: 0.5s;
    margin: 10px;
    font-size: 13px;
    font-weight: bold;
}

ul li a:hover{
    background-color: #fff;
    color: black;
}
ul li.active a {
background-color: #fff;
color: black;
}

.logo img{
    float: left;
    width: 115px;
    height: auto;
    margin-top: 10px;
    cursor: pointer;
}

.navbar{
    max-height: 1200px;
    margin: auto;
}
.conten{
    position: absolute;
    left: 15%;
}
.conten h1{
    color: #fff;
    font-size: 70px;
    text-shadow: 5px 4px 4px #000000;
}
.color{
    color: yellow;
}
.conten p{
    color: yellow;
    font-size: 20px;
    text-shadow: 5px 4px 4px #000000;
}
.ji{
    text-shadow: 5px 4px 4px #000000;
    color: #ffffff;
}

.button{
    color: rgb(0, 0, 0);
    position: absolute;
    top: 50%;
    left: 25%;
    margin-top: 50px;
    font-size: 100%;
    cursor: pointer;
}



section h2{
    text-align: center;
    padding: 20px 0;
    color: #044b34;
    margin-bottom: 10px;
}

.filosofi p{
    color: #000000;
    word-wrap: 2px;
    line-height: 25px;
    text-align: center;
}

.video h3{
    text-align: center;
    padding: 20px 0;
    color: #044b34;
    margin-bottom: 10px
}

.natal img{
    width: 50%;
    height: 50%;
    position: absolute;
                left: 25%;
}

.about h4{
    color: #044b34;
    word-wrap: 2px;
    line-height: 25px;
    text-align: center;
}

.about p{
    color: #000000;
    text-align: center;
   
}
.contac p{
    color: #000000;
  text-align: center;
 
}   


.war{
    color: yellow;
    font-size: 200%;
}

.du{
    color: rgb(255, 255, 255);
    font-size: 100%;
    cursor: pointer;
}

.pelan{
    width: 50%;
    height: 50%;
                left: 25%;
                position: absolute;
}

.pmb{
    width: 50%;
    height: 50%;
                left: 25%;
                position: absolute; 
}

.bin{
    width: 50%;
    height: 50%;
                left: 25%;
                position: absolute;    
}
.lagi{
    position: absolute;
  left: 25%;
}